<section class="top-section">

  <!-- slider serction start -->
  <div class="slider">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="slider1-cont"
            [ngStyle]="{'background-image': SliderImage , 'background-position': 'center', 'height': '750px','background-size':'cover','width':'100%'}">
            <h1>{{landingpagedata?.Slider1Content}}</h1>
            <p>{{landingpagedata?.Slider1Pargh}}</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="slider1-cont"
            [ngStyle]="{'background-image': Slider2Image , 'background-position': 'center',  'height': '750px','background-size':'cover'}">
            <h1>{{landingpagedata?.Slider1Content}}</h1>
            <p>{{landingpagedata?.Slider1Pargh}}</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="slider1-cont"
            [ngStyle]="{'background-image': Slider3Image , 'background-position': 'center',  'height': '750px','background-size':'cover'}">
            <h1>{{landingpagedata?.Slider1Content}}</h1>
            <p>{{landingpagedata?.Slider1Pargh}}</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!-- slider serction end -->


  <!-- header section start -->

  <div class="header sticky-top" id="mainheader">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="../../assets/logo/logo.png" alt="" width="100">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!-- Header Navigation -->
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#home" (click)="scrollToSection('home')">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="scrollToSection('about')">About</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" (click)="scrollToSection('export')">export</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="scrollToSection('statistics')">statistics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="scrollToSection('consult')">consult</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="scrollToSection('sectors')">sectors</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="scrollToSection('company')">company</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="scrollToSection('testimonial')">testimonial</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" (click)="scrollToSection('inquiry')">inquiry</a>
            </li>

          </ul>

        </div>
      </div>
    </nav>
  </div>

  <!-- header section end -->
</section>

<!-- about section start -->
<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="about-title">
          <h2>{{landingpagedata?.AboutTitle}}</h2>
          <h5>{{landingpagedata?.AboutSubTitle}}
          </h5>
        </div>
        <div class="about-cont">
          <p style="text-align: justify;">{{landingpagedata?.AboutContent}}</p>
        </div>
        <div class="about-btn">
          <button class="btn"><a href="https://api.whatsapp.com/send?phone=919016356950" target="_blank"
              class="text-white">Learn More</a></button>
        </div>

      </div>
      <div class="col-lg-6 col-md-6 col-sm-12  d-flex align-items-center">
        <div class="about-color"></div>
        <div class="about-img">
          <img src="{{landingpagedata?.AboutImage}}" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about section end -->


<!-- export section start -->
<section id="export" class="export">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="expo-title">
          <h4>{{landingpagedata?.ExportTitle}}</h4>
          <h2>{{landingpagedata?.ExportSubTitle}}</h2>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="export-desc my-3">
          <h5 style="text-align: justify;">{{landingpagedata?.Exportdesc}}</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-md-6 col-sm-6">
          <div class="expo-img text-center">
            <img class="rounded img-fluid" src="{{landingpagedata?.Export1Image}}" alt="">
            <div class="expo-name">
              <h3>{{landingpagedata?.Export1Name}}</h3>
              <h5>{{landingpagedata?.Export1SubName}}</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-md-6 col-sm-6">
          <div class="expo-img text-center">
            <img class="rounded img-fluid" src="{{landingpagedata?.Export2Image}}" alt="">
            <div class="expo-name">
              <h3>{{landingpagedata?.Export2Name}}</h3>
              <h5>{{landingpagedata?.Export2SubName}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- export section end -->


<!-- stastic section start -->
<section id="statistics" class="Statistics mt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="statis-title">
          <h2>{{landingpagedata?.StatisticsTitle}}</h2>
        </div>
      </div>

      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="counter">
          <div class="row" style="height: 45vh;">
            <div class="col-lg-4 col-md-6 col-sm-12 triputi">
              <div class="client my-3 text-center">
                <h6>01</h6>
                <h4>{{ ClientNumber }}+</h4>
                <h5>{{landingpagedata?.ClientTitle}}</h5>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 triputi">
              <div class="year text-center my-3">
                <h6>02</h6>
                <h4>{{YearNumber}}+</h4>
                <h5>{{landingpagedata?.YearTitle}}</h5>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 triputi">
              <div class="project my-3 text-center">
                <h6>03</h6>
                <h4>{{ProjectNumber}}+</h4>
                <h5>{{landingpagedata?.ProjectTitle}}</h5>
              </div>
            </div>
            <!-- <div class="col-lg-3 col-md-6 col-sm-12">
              <div class="profit my-3 text-center">
                <h6>04</h6>
                <h4>{{ProfitNumber}}%</h4>
                <h5>{{landingpagedata?.ProfitTitle}}</h5>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- stastic section end -->


<!-- section consult start -->
<section id="consult" class="consult text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="consult-title">
          <h2>{{landingpagedata?.ConsultTitle}}</h2>
          <h3>{{landingpagedata?.ConsultSubTitle}}</h3>

          <button class="btn consult-btn">
            <a href="https://api.whatsapp.com/send?phone=919016356950" style="text-decoration: none;" target="_blank"
              class="text-light">GET CONSULT</a></button>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- section consult end -->


<!-- section sector start -->
<section id="sectors" class="sectors">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="sector-color"></div>
        <div class="sector-title">
          <h4>{{landingpagedata?.SectorTitle}}</h4>
          <div class="sectoers-title d-flex flex-wrap align-items-center justify-content-between">
            <h3>{{landingpagedata?.SectorSubTitle}}</h3>
          </div>
        </div>
        <div class="row">


          <!-- Card 2 -->
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="sectors-img">
              <div class="card">
                <img src="{{landingpagedata?.ConsultiveImage2}}" class="card-img-top img-fluid" alt="...">
              </div>
              <div class="sectors-card">
                <h5 class="m-0">{{landingpagedata?.ConsultiveTitle1}}</h5>
                <button class="btn p-0">
                  <a href="https://api.whatsapp.com/send?phone=919016356950" target="_blank" class="text-dark">Learn
                    More</a>
                  <i class="bi bi-arrow-right ms-2"></i>
                </button>
              </div>
            </div>
          </div>
          <!-- Card 3 -->
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="sectors-img">
              <div class="card">
                <img src="{{landingpagedata?.ConsultiveImage3}}" class="card-img-top img-fluid" alt="...">
              </div>
              <div class="sectors-card">
                <h5 class="m-0">{{landingpagedata?.ConsultiveTitle2}}</h5>
                <button class="btn p-0">
                  <a href="https://api.whatsapp.com/send?phone=919016356950" target="_blank" class="text-dark">Learn
                    More</a>
                  <i class="bi bi-arrow-right ms-2"></i>
                </button>
              </div>
            </div>
          </div>
          <!-- Card 1 -->
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="sectors-img">
              <div class="card">
                <img src="{{landingpagedata?.ConsultiveImage1}}" class="card-img-top img-fluid" alt="...">
              </div>
              <div class="sectors-card">
                <h5 class="m-0">{{landingpagedata?.ConsultiveTitle}}</h5>
                <button class="btn p-0">
                  <a href="https://api.whatsapp.com/send?phone=919016356950" target="_blank" class="text-dark">Learn
                    More</a>
                  <i class="bi bi-arrow-right ms-2"></i>
                </button>
              </div>
            </div>
          </div>

          <!-- Card 2 -->
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="sectors-img">
              <div class="card">
                <img src="{{landingpagedata?.ConsultiveImage5}}" class="card-img-top img-fluid" alt="...">
              </div>
              <div class="sectors-card">
                <h5 class="m-0">{{landingpagedata?.ConsultiveTitle5}}</h5>
                <button class="btn p-0">
                  <a href="https://api.whatsapp.com/send?phone=919016356950" target="_blank" class="text-dark">Learn
                    More</a>
                  <i class="bi bi-arrow-right ms-2"></i>
                </button>
              </div>
            </div>
          </div>




          <!-- Card 1 -->
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="sectors-img">
              <div class="card">
                <img src="{{landingpagedata?.ConsultiveImage4}}" class="card-img-top img-fluid" alt="...">
              </div>
              <div class="sectors-card">
                <h5 class="m-0">{{landingpagedata?.ConsultiveTitle4}}</h5>
                <button class="btn p-0">
                  <a href="https://api.whatsapp.com/send?phone=919016356950" target="_blank" class="text-dark">Learn
                    More</a>
                  <i class="bi bi-arrow-right ms-2"></i>
                </button>
              </div>
            </div>
          </div>


          <!-- Card 3 -->
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="sectors-img">
              <div class="card">
                <img src="{{landingpagedata?.ConsultiveImage6}}" class="card-img-top img-fluid" alt="...">
              </div>
              <div class="sectors-card">
                <h5 class="m-0">{{landingpagedata?.ConsultiveTitle6}}</h5>
                <button class="btn p-0">
                  <a href="https://api.whatsapp.com/send?phone=919016356950" target="_blank" class="text-dark">Learn
                    More</a>
                  <i class="bi bi-arrow-right ms-2"></i>
                </button>
              </div>
            </div>
          </div>




        </div>



      </div>
    </div>
  </div>
</section>
<!-- section sector end -->


<!-- company section start -->
<section id="company" class="company">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="compnay-title">
          <h4>{{landingpagedata?.CollboratedTitle}}</h4>
          <h5>{{landingpagedata?.CollboratedSubTitle}}</h5>
        </div>
      </div>

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card cardAB px-4">
        <img src="{{landingpagedata?.CollboratedImage}}" alt="" class="img-fluid card-img-top-logos">
        <!-- <div class="company-name my-4">
          <h5>{{landingpagedata?.CompanyName1}}</h5>
        </div> -->
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card cardAB px-4">
        <img src="{{landingpagedata?.CompanyImage2}}" alt="" class="img-fluid card-img-top-logos">
        <!-- <div class="company-name my-4">
          <h5>{{landingpagedata?.CompanyName2}}</h5>
        </div> -->
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card cardAB px-4">
        <img src="{{landingpagedata?.CompanyImage3}}" alt="" class="img-fluid card-img-top-logos">
        <!-- <div class="company-name my-4">
          <h5>{{landingpagedata?.CompanyName3}}</h5>
        </div> -->
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card cardAB px-4">
        <img src="{{landingpagedata?.CompanyImage4}}" alt="" class="img-fluid card-img-top-logos">
        <!-- <div class="company-name my-4">
          <h5>{{landingpagedata?.CompanyName4}}</h5>
        </div> -->
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card cardAB px-4">
        <img src="{{landingpagedata.CompanyImage5}}" alt="" class="img-fluid card-img-top-logos">
        <!-- <div class="company-name my-4">
          <h5>{{landingpagedata?.CompanyName5}}</h5>
        </div> -->
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card cardAB px-4">
        <img src="{{landingpagedata.CompanyImage6}}" alt="" class="img-fluid card-img-top-logos">
        <!-- <div class="company-name my-4">
          <h5>{{landingpagedata?.CompanyName6}}</h5>
        </div> -->
      </div>
    </div>


    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card cardAB px-4">
        <img src="{{landingpagedata.CompanyImage7}}" alt="" class="img-fluid card-img-top-logos">
        <!-- <div class="company-name my-4">
          <h5>{{landingpagedata?.CompanyName7}}</h5>
        </div> -->
      </div>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card cardAB px-4">
        <img src="{{landingpagedata.CompanyImage8}}" alt="" class="img-fluid card-img-top-logos">
        <!-- <div class="company-name my-4">
          <h5>{{landingpagedata?.CompanyName7}}</h5>
        </div> -->
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
</section>
<!-- company section end -->


<!-- contact section start -->
<section id="contact" class="contact">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="contact-img">
          <img src="../../assets/contact/contact.jfif" alt="" class="img-fluid">
        </div>
      </div>

      <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="contact-title my-3">
          <h4 class="mb-4">{{ landingpagedata?.ContactUsTitle }}</h4>
          <p>{{ landingpagedata?.ContactCont }}</p>
        </div>

        <!-- Email -->
        <div class="email d-flex flex-wrap align-items-center">
          <div class="email-icon">
            <i class="bi bi-envelope-fill"></i>
          </div>
          <div class="email-add ms-3">
            <h4 class="m-0">Email</h4>
            <h5 class="m-0">
              <a style="color: black;" [href]="'mailto:' + landingpagedata?.contactEmail" class="text-decoration-none">
                {{ landingpagedata?.contactEmail }}
              </a>
            </h5>
          </div>
        </div>

        <!-- Address -->
        <div class="address d-flex flex-wrap align-items-center">
          <div class="add-icon">
            <i class="bi bi-geo-alt-fill"></i>
          </div>
          <div class="add-cont ms-3" style="max-width:70%">
            <h4 class="m-0">Address</h4>
            <h5 class="m-0">
              <a style="color: black;" [href]="'https://www.google.com/maps?q=21.2344216,72.8769033'" target="_blank"
                class="text-decoration-none">
                {{ landingpagedata?.ContactAddress }}
              </a>
            </h5>
          </div>
        </div>

        <!-- Phone Number -->
        <div class="call d-flex flex-wrap align-items-center">
          <div class="call-icon">
            <i class="bi bi-telephone-fill"></i>
          </div>
          <div class="call-cont ms-3">
            <h4 class="m-0">Phone Number</h4>
            <h5 class="m-0">
              <a style="color: black;" [href]="'tel:' + landingpagedata?.ContactNumber" class="text-decoration-none">
                {{ landingpagedata?.ContactNumber }}
              </a>
            </h5>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- contact section end -->


<!-- testimonial section start -->
<section id="testimonial" class="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="testi-title">
          <h4>{{landingpagedata?.TestimonialTitle}}</h4>
          <h3>{{landingpagedata?.TestimonialSubTitle}}</h3>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12">
        <owl-carousel-o [options]="customOptions5">
          <ng-template carouselSlide class="owl-stage">
            <div class="testi-slider container">
              <div class="testis-cont">
                <div class="card">
                  <div class="rating">
                    <ul class="d-flex flex-wrap align-items-center">
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                    </ul>
                  </div>
                  <h5>{{landingpagedata?.Testimonial1}}</h5>
                  <div class="testi-name mt-3">
                    <h5>{{landingpagedata?.TestimonialName}} </h5>
                  </div>
                </div>
              </div>
              <!-- <div class="testi-img">
                <img src="{{landingpagedata?.TestimonialImage1}}" alt="">
              </div> -->
            </div>
          </ng-template>

          <ng-template carouselSlide class="owl-stage">
            <div class="testi-slider">
              <div class="testis-cont">
                <div class="card">
                  <div class="rating">
                    <ul class="d-flex flex-wrap align-items-center">
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                    </ul>
                  </div>
                  <h5>{{landingpagedata?.Testimonial2}}</h5>
                  <div class="testi-name mt-3">
                    <h5>{{landingpagedata?.TestimonialName2}} </h5>
                  </div>
                </div>
              </div>
              <!-- <div class="testi-img">
                <img src="{{landingpagedata?.TestimonialImage2}}" alt="">
              </div> -->
            </div>
          </ng-template>
          <ng-template carouselSlide class="owl-stage">
            <div class="testi-slider">
              <div class="testis-cont">
                <div class="card">
                  <div class="rating">
                    <ul class="d-flex flex-wrap align-items-center">
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                    </ul>
                  </div>
                  <h5>{{landingpagedata?.Testimonial3}}</h5>
                  <div class="testi-name mt-3">
                    <h5>{{landingpagedata?.TestimonialNname3}} </h5>
                  </div>
                </div>
              </div>
              <!-- <div class="testi-img">
                <img src="{{landingpagedata?.TestimonialImage3}}" alt="">
              </div> -->
            </div>
          </ng-template>
          <ng-template carouselSlide class="owl-stage">
            <div class="testi-slider">
              <div class="testis-cont">
                <div class="card">
                  <div class="rating">
                    <ul class="d-flex flex-wrap align-items-center">
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                      <li><i class="bi bi-star-fill"></i></li>
                    </ul>
                  </div>
                  <h5>{{landingpagedata?.Testimonial4}}</h5>
                  <div class="testi-name mt-3">
                    <h5>{{landingpagedata?.TestimonialName4}} </h5>
                  </div>
                </div>
              </div>
              <!-- <div class="testi-img">
                <img src="{{landingpagedata?.TestimonialImage4}}" alt="">
              </div> -->
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<!-- testimonial section end -->


<!-- inquiry section start -->
<section id="inquiry" class="inquiry">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="inqu-title">
          <h4>INQUIRY FROM</h4>
          <h5 class="mt-4">We are dedicated to addressing your queries with precision and care. Our team is here to
            ensure you receive the information and support you need for a seamless experience. Reach out to us anytime,
            and we'll be happy to assist you.</h5>

        </div>
      </div>

      <div class="inquiry-form my-4">
        <form (ngSubmit)="PostcontactUs(contactForm)" #contactForm="ngForm">
          <div class="row">
            <!-- Full Name -->
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="mb-3 name">
                <input type="text" class="form-control" placeholder="Enter Name" [(ngModel)]="formData.fullName"
                  name="fullName" required minlength="3" #fullName="ngModel" />
                <div class="city-icon">
                  <i class="bi bi-person-fill"></i>
                </div>

              </div>


              <div *ngIf="fullName.invalid && fullName.touched" class="text-danger">
                <small *ngIf="fullName.errors?.['required']">Name is required.</small>
                <small *ngIf="fullName.errors?.['minlength']">Name must be at least 3 characters long.</small>
              </div>

            </div>

            <!-- Title Category -->
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="mb-3 category">
                <select class="form-control" style="padding: 0.375rem 2.75rem" [(ngModel)]="formData.email" name="email"
                  required #email="ngModel">
                  <option value="" disabled selected>Select Title Category</option>
                  <option value="MEDICLAIMS">MEDICLAIMS</option>
                  <option value="GENERAL INSURANCE">GENERAL INSURANCE</option>
                  <option value="MUTUAL FUND">MUTUAL FUND</option>
                  <option value="Term Plan">Term Plan</option>
                  <option value="Fixed Deposit(Bajaj Finserv)">Fixed Deposit (Bajaj Finserv)</option>
                  <option value="SIP">SIP</option>
                </select>
                <div class="category-icon">
                  <img src="../../assets/contact/category.png" alt="" />
                </div>

              </div>
              <div *ngIf="email.invalid && email.touched" class="text-danger">
                <small>Please select a title category.</small>
              </div>
            </div>

            <!-- City -->
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="mb-3 city">
                <input type="text" class="form-control" placeholder="Enter City" [(ngModel)]="formData.city" name="city"
                  required minlength="2" #city="ngModel" />
                <div class="city-icon">
                  <img src="../../assets/contact/city.png" alt="" />
                </div>

              </div>
              <div *ngIf="city.invalid && city.touched" class="text-danger">
                <small *ngIf="city.errors?.['required']">City is required.</small>
                <small *ngIf="city.errors?.['minlength']">City must be at least 2 characters long.</small>
              </div>
            </div>

            <!-- Phone Number -->
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="mb-3 numbers">
                <input type="text" class="form-control" placeholder="Enter Phone Number"
                  [(ngModel)]="formData.phoneNumber" name="phoneNumber" required pattern="^[0-9]{10}$"
                  #phoneNumber="ngModel" />
                <div class="numbers-icon">
                  <i class="bi bi-telephone-fill"></i>
                </div>

              </div>
              <div *ngIf="phoneNumber.invalid && phoneNumber.touched" class="text-danger">
                <small *ngIf="phoneNumber.errors?.['required']">Phone number is required.</small>
                <small *ngIf="phoneNumber.errors?.['pattern']">Enter a valid 10-digit phone number.</small>
              </div>
            </div>

            <!-- Description -->
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="mb-3 category">
                <textarea class="form-control" placeholder="Write Your Message" style="padding: 0.375rem 2.75rem"
                  [(ngModel)]="formData.organization" name="organization" required minlength="10"
                  #organization="ngModel"></textarea>
                <div class="category-icon">
                  <img src="../../assets/contact/category.png" alt="" />
                </div>

              </div>
              <div *ngIf="organization.invalid && organization.touched" class="text-danger">
                <small *ngIf="organization.errors?.['required']">Description is required.</small>
                <small *ngIf="organization.errors?.['minlength']">Description must be at least 10 characters
                  long.</small>
              </div>
            </div>

            <!-- Submit Button -->
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="submit-btn text-center">
                <button class="btn px-5" type="submit" [disabled]="contactForm.invalid">
                  Submit
                </button>
              </div>
            </div>
          </div>
        </form>


        <div class="col-lg-12">
          <div class="whats-app text-end">
            <button class="btn">
              <a href="https://api.whatsapp.com/send?phone=919016356950" target="_blank">
                <i class="bi bi-whatsapp"></i>
              </a>
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
<!-- inquiry section end -->

<!-- footer section start -->
<section class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="footer-logo">
          <img src="../../assets/logo/logo.png" alt="Logo" width="100">
          <p class="my-3">Managing your wealth has never been easier. Our expert-driven approach ensures that your
            investments are optimized to align with your financial goals</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="links">
          <h5>USEFUL LINKS</h5>
        </div>
        <div class="link-list">
          <ul>
            <li>Home</li>
            <li (click)="scrollToSection('about')">About US</li>
            <li (click)="scrollToSection('statistics')">Statistics</li>
            <li (click)="scrollToSection('contact')">Contact Us</li>
            <li (click)="scrollToSection('inquiry')">Inquiry</li>
          </ul>
        </div>
      </div>

      <div class="col-lg-5 col-md-5 col-sm-12">
        <!-- Address -->
        <div class="contact d-flex flex-wrap align-items-center">
          <div class="location-icon">
            <i class="bi bi-geo-alt-fill fs-3"></i>
          </div>
          <div class="location ms-3" style="width: 80%;">
            <h5>
              <a style="color: white;" href="https://www.google.com/maps?q=21.2344216,72.8769033" target="_blank"
                class="text-decoration-none">
                B-68, Second-floor, Sumerucity Mall, In Front Of Krishna Township, Sudama Chowk, Mota Varacha, Surat
              </a>
            </h5>
          </div>
        </div>

        <!-- Email -->
        <div class="mail d-flex flex-wrap align-items-center">
          <div class="mail-icon">
            <i class="bi bi-envelope-fill fs-3"></i>
          </div>
          <div class="mail-cont ms-3">
            <h5>
              <a style="color: white;" href="mailto:shayonainvestment2021@gmail.com" class="text-decoration-none">
                shayonainvestment2021&#64;gmail.com
              </a>
            </h5>
          </div>
        </div>

        <!-- Phone -->
        <div class="callss d-flex flex-wrap align-items-center">
          <div class="callss-icon">
            <i class="bi bi-telephone-fill fs-3"></i>
          </div>
          <div class="callss-cont ms-3">
            <h5>
              <a style="color: white;" href="tel:+919016356950" class="text-decoration-none">
                +91 90163 56950
              </a>
            </h5>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<div class="container-fluid">
  <!-- Copyright Section -->
  <div class="row py-2 copyright">
    <div class="col-12 text-center">
      <p style="margin-bottom: 0;">&copy; 2025 Created by <a href="https://swamiinfotech.in/" target="_blank"
          class="text-dark">Swami Infotech</a>.
      </p>
    </div>
  </div>

</div>
<!-- footer section end -->